.form{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content:center ;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    input, label{
        margin-top: 15px;
    }
    span{
        color: red;
    }
    input{
        padding: 5px;
    }
}