
#Home {
  position: relative;
  height: 730px;
  width: 100%;
  overflow: hidden;
  background:linear-gradient( rgba(0,0,0,.1),
            rgba(0,0,0,.2),
            rgba(0,0,0,.3),
            rgba(0,0,0,.4),
            rgba(0,0,0,.5),
            rgba(0,0,0,.6),
            rgba(0,0,0,.7),
            rgba(0,0,0,.8),
               ) ;
}

#Home::before,
#Home::after,
#Home .bgLayer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  animation: fade 9s infinite;
}

#Home::before {
  background: url('/src/assets/bg2.jpg') no-repeat center/cover;
  animation-delay: 3s;
}

#Home::after {
  background: url('/src/assets/one.jpg') no-repeat center/cover;
  animation-delay: 6s;
}

#Home::before {
  background: url('/src/assets/bg.jpg') no-repeat center/cover;
  animation-delay: 12s;
}

#Home .bgLayer {
  background: url('/src/assets/bg1.jpg') no-repeat center/cover;
  opacity: 1;
}

@keyframes fade {
  0% { opacity: 0; }
  11% { opacity: 1; }
  33% { opacity: 1; }
  44% { opacity: 0; }
  100% { opacity: 0; }
}

.textContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 100px;
  }
}

.login {
  display: flex;
  justify-content: center;
}

input {
  width: 50% !important;
}

.login input,
.login .btn {
  border-radius: 0 !important;
  padding: 0 35px !important;
}

