// #Home{
//     padding-bottom:2rem ;
// }
.About{
    background-color: rgb(245, 4, 44);
}
html {
  scroll-behavior: smooth;
}
section{
  h1{
    margin-bottom: 15px;
  }
}
.orders{
  display: flex;
}
.orders .filter{
  position: sticky;
  top:150px;
  height: fit-content;
}