#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow:1px 1px 40px 1px rgb(119, 117, 118);
}
.text{
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px;
    background-color: black;
    p{
        margin: 0;
        color: pink !important;
    }
}
nav{
    color: rgb(251, 8, 49);
    display: flex;
    justify-content: space-between;
    /* padding: 0 18px; */
    align-items: center;
    border-top: 3px solid pink;
    border-bottom: 3px solid pink;
    background-color: black;
    h1{
        color: #fff;
        background-color:pink ;
        /* height: 57px; */
        padding: 10px 25px;
        margin: 0;
        &:hover{
            background-color:rgb(251, 8, 49);
        }
        span{
            color:rgb(46, 1, 8) ;
        }
        
    }
    div{
        display: flex;
        margin-right: 17px;
        align-items: center;
        gap: 20px;
        a{
            text-decoration: none;
            color: pink;
            margin-right: 17px;
            padding: 5px;
            &:hover{
                color: #fff;
                border-bottom: 2px solid rgb(251, 8, 49);

            }
        }

    }
}